
Algebraic terms of the same variable can be collected together when adding or subtracting. For example if you have:

$$3x + 8x$$

You can combine these two terms in $x$ by adding the $3$ and the $8$:

$$3x + 8x \equiv 11x$$

If there are a mix of algebraic terms, you can group them into terms that are of the same variable: For example:

**Simplify:**   $4p + 5q + p - 6q$

You can put the $p$ variables together, so you have $4 + 1 = 5$.

You can put the $q$ variables together, so you have $5 - 6 = -1$.

This answer can then be written:

$$4p + 5q + p - 6q \equiv 5p - q$$

A few things to note
* It is conventional to write $x$ rather than $1x$, and $-x$ rather than $-1x$.
* The expression $2p + 4t$ is the same as $4t + 2p$.

