
Brackets can be thought of as *mathematical puncuation* and helps us read an expression. It is sometimes useful to remove these brackets, and in mathematics we call this **expanding the brackets**.

## A single pair of brackets

Consider the expression below:

$$5(3x+4)$$

You can read this as 5 lots of the $3x+4$ bit. In other words, you will have 5 lots of the $3x$ and 5 lots of the $4$. This is knows as **distributing** the 5 through the bracketed expression:

$$5(3x+4) \equiv 5 \times 3x + 5 \times 4 \equiv 15x + 20$$

Note that you are using a $\equiv$ sign rather than an $=$ sign because the statements above are exactly the same for all values of $x$, you are not trying to *solve* for a particular value of $x$. However, using an $=$ in your work would very unlikely be penalised.

### Examples

**Expand $3x(5y-2x)$**

Distribute the $3x$ throughout the $5y-2x$:

$$3x(5y-2x) \equiv 3x \times 5y + 3x \times (-2x) \equiv 15xy - 6x^2$$


**Expand and simplify $x(5x-2)+6x$**

Note that the $6x$ part is not part of the bracket, therefore the $x$ is **not** distributed to this part:

$$x(5x-2) + 6x \equiv 5x^2-2x+6x \equiv 5x^2+4x$$


**Expand and simplify $4xy - 3y(5t-2x)$**

$$4xy - 3y(5t-2x) \equiv 4xy + (-3y) \times 5t + (-3y) \times (-2x) \equiv 4xy - 9ty + 6xy \equiv 10xy - 9ty$$

---

## Adding and subtracting single pairs of brackets

The ideas above can be extended to more than one pair of brackets in a *mathematical sentence*.  Consider:

$$8(3x+4) + 6(2x-7)$$

Here you would distribute the 8 through the $3x+4$ and then distribute the 6 through the $2x-7$. You can then simplify if needed:

$$8(3x+4) + 6(2x-7) \equiv 24x+32+12x-42 \equiv 36x-10$$

### Example

**Expand and simplify $x(2x-4)-(y-3x)$**

$$x(2x-4)-(y-3x) \equiv 2x^2-4x - y + 3x \equiv 2x^2-x-y$$

Note that the second bracket pair is being multiplied by negative 1 here.

---

## Multiplying pairs of brackets

Consider the following expression:

$$(2x+5)(x-4)$$

Here you have one pair of brackets, $2x+5$, **all** being multiplied by another pair of brackets, $x-4$. Everything in the first bracket needs to be multiplied by everything in the second bracket.

You can therefore think of this as distributing the $2x$ throughout the $x-4$ bracket and then distributing the $5$ throughout the $x-4$ bracket:

$$(2x+5)(x-4) \equiv 2x(x-4) + 5(x-4)$$

This can now be completed in the same way as the examples in the previous section above.

Alternatively, some use the acronym **FOIL**, which stands for:

**F**irst

**O**utside

**I**nside

**L**ast

Here:

**F**: $2x \times x \equiv 2x^2$

**O**: $2x \times (-4) \equiv -8x$

**I**: $5 \times x \equiv 5x$

**L**: $5 \times (-4) \equiv -20$

Putting this together you get:

$$(2x+5)(x-4) \equiv 2x^2 - 8x + 5x - 20 \equiv 2x^2 - 3x - 20$$



