
Factorising expressions relates to collecting terms that contain common factors and using brackets. It can be thought of as the opposite of expanding brackets.


## Factorising into a single pair of brackets

Consider the expression $8x + 28$.

Note that both of the **terms**, $8x$ and $32$ can both be written as 4 times something:

$8x = 4 \times 2x$

$28 = 4 \times 7$

The $2x$ and the $7$ part above contain no **common factors**, that is we can't divide cleanly $2x$ and $7$ by a common value.

We can use the properties of brackets, where the term on the outside of the bracket multiplies throughout the bracket, to write $8x+28$ with brackets and the common factor of 4:

$$8x+28 \equiv 4(2x+7)$$

Note that you are using a $\equiv$ sign rather than an $=$ sign because the statements above are exactly the same for all values of $x$, you are not trying to *solve* for a particular value of $x$. However, using an $=$ in your work would very unlikely be penalised.

### Examples:

**Fully factorise $12x + 6x^2y$**

First note that the $12$ and the $6$ part can both be written using $6 \times$: $12 = 6 \times 2$, and $6 = 6\times 1$.

There is also a common factor of $x$ throughout: $x$ and also $x^2 = x \times x$.

Putting this together, you can take out a common factor of $6x$:

$$12x+6x^2y \equiv 6x(2 + xy) $$

You can check by expanding the brackets and seeing if you get back to the original answer. You should also check that there are no further common factors in the bracketed part.

**Fully factorise $7x^3y^5 - 4x^7y^2$**

Here the numerical parts ($7$ and $4$) have no common factors, other than 1.  However we can factor out an $x^3$ and a $y^2$ from both parts of the expression.

$$7x^3y^5 - 4x^7y^2 \equiv x^3y^2(7y^3-4x^4)$$

Note we also need to be aware of the **laws of indices** here, e.g. that $x^7 \div x^3 = x^{7-3} = x^4$.


