# Rules of Indices

<div class="explanation" markdown="1">
## Multiplying Algebraic Expressions

When two single term algebraic expressions are multiplied, the coefficient part is multiplied and the algebraic parts are written next to each other.

#### Example

Simplify $5x \times 3y$

The coefficients multiply to $5 \times 3 = 15$, and so:

$$ 5x \times 3y \equiv 15xy $$

</div>

<div class="explanation" markdown="1">
## Rules of Indices

The rules of indices are:

$$
\begin{align*}
x^m \times x^n & \equiv x^{m+n} \\[8pt]
x^m \div x^n & \equiv x^{m-n} \\[8pt]
\left (x^m \right )^n & \equiv x^{mn}
\end{align*}
$$

Some other key points regarding indices:

$$
\begin{align*}
(xy)^n & \equiv x^ny^n \\[8pt]
x^1 & \equiv x \\[8pt]
x^0 & \equiv 1
\end{align*}
$$

</div>

<div class="explanation" markdown="1">
### Some Examples

#### Example 1

Simplify 

$$4x \times 8pq$$

Here multiply the $4$ and the $8$ and write the rest:

$$32xpq$$

Note, it is conventional to write the numerical part first, but the alegraic parts can be written in any order here.

#### Example 2

Simplify 

$$6x^3y \times 4x^2y^3$$

Multiplying the coefficients gives $24$.

Using the multiplication rule of indices for the $x$ variable gives $x^3 \times x^2 \equiv x^{2+3} \equiv x^5$

For the $y$ part, $y \times y^3 \equiv y^{1+3} \equiv y^{4}$

Therefore:

$$24x^5y^4$$


#### Example 3

Simplify

$$\frac{3rs^2 \times \left (2r^4s^{-2} \right )^3}{12r^2s}$$

Looking at the coefficient part you have $3 \times 2^3 \div 12 = 2$

Look at the $r$ part you have $r^{1 +  4 \times 3 - 2} = r^{11}$

Looking at $s$ part you have $s^{2 + (-2) \times 3 - 1} = s^{-5}$

Putting it all together:

$$2r^{11}s^{-5} $$

</div>
