# Solving Linear Equations

<div class="explanation" markdown="1">

A linear equation in $x$ (note it could be another variable name too) is one that can be written in the form
$$ax+b=c$$
where $a, b, \text{and } c$ are constants.

Solving the equation means rearranging the equation to find the value of the unknown ($x$ for example).

This guide will be done via going through various examples.

---

### Example 1
Solve the equation for $x$:

$$5x + 4 = 39$$

Equations are *balanced* (the left-hand side is equal to the right-hand side), and need to remain so.  Therefore, any operation that is applied to one side of the equation must be applied to the other.  You can use this to *move* items in the equation around, so that you end up in a position of $x = ...$

* Subtract $4$ from both sides of the equation:

$$
\begin{aligned}
5x + 4 - 4 &= 39 - 4  \\
5x &= 35
\end{aligned}
$$

Since 4 was subtracted from both sides of the equation, everything still holds true. However, this new equation is a *simpler* equation than what you began with.

* Divide by sides of the equation by $5$:

$$
\begin{aligned}
\frac{5x}{5} &= \frac{35}{5} \\
x &= 7
\end{aligned}
$$

* Check the answer is true in the original question:

$$
\begin{aligned}
\text{left-hand side: }& 5x+4 = 5 \times 7 + 4 = 39 \\
\text{right-hand side: }&  39
\end{aligned}
$$

---

### Example 2
Solve the equation for $x$:

$$ \frac{3x - 2}{5} = 4 $$

* Multiply both sides of the equation by $5$

Note that adding $2$ to both sides of the equation wouldn't be helpful.  The $-2$ in the expression above is also being divided by the $5$.  You could therefore add $\frac{2}{5}$ to both sides, but this would be more messy.

$$
\begin{aligned}
5 \cdot \frac{3x - 2}{5} &= 5 \times 4 \\
3x-2 & = 20
\end{aligned}
$$

* Add $2$ to both sides of the equation

$$
\begin{aligned}
3x - 2 + 2 &= 20 + 2 \\
3x &= 22
\end{aligned}
$$

* Divide by sides of the equation by $3$

$$
\begin{aligned}
\frac{3x}{3} &= \frac{22}{3} \\
x&=\frac{22}{3}
\end{aligned}
$$

* Check solution in original equation

Left-hand side:

$$ \frac{3x - 2}{5} =  \frac{3 \left ( \frac{22}{3} \right ) - 2}{5} = \frac{22-2}{5} = \frac{20}{5} = 4$$

---

### Example 3
Solve for $t$:

$$5t + 9 = 3t + 1$$

In this question, the required variable sits on both sides of the equation. To solve questions like this you need to get all of the required variable on one side of the equation.

* Subtract $3t$ from both sides of the equation

$$
\begin{aligned}
5t + 9 - 3t &= 3t + 1 - 3t \\
2t + 9 &= 1
\end{aligned}
$$

* Subtract $9$ from both sides of the equation

$$
\begin{aligned}
2t+9-9 &= 1-9 \\
2t &= -8
\end{aligned}
$$

* Divide both sides by $2$

$$
\begin{aligned}
\frac{2t}{2} &= \frac{-8}{2} \\
t &= -4
\end{aligned}
$$

* Check the answer in the original question

Left-hand side:

$$5t+9 = 5 \times (-4) + 9 = -20 + 9 = -11$$

Right-hand side:

$$3t+1 = 3 \times (-4) + 1 = -12 + 1 = -11$$

---

### Example 4
Solve for $y$:

$$5(2y-1) = 4 - 2y$$

* Expand the brackets

$$10y - 5 = 4-2y$$

* Add $2y$ to both sides

$$
\begin{aligned}
10y - 5 + 2y &= 4 - 2y + 2y \\
12y - 5 &= 4
\end{aligned}
$$

* Add $5$ to both sides

$$
\begin{aligned}
12y - 5 + 5 &= 4 + 5 \\
12y &= 9
\end{aligned}
$$

* Divide both sides by 12

$$
\begin{aligned}
\frac{12y}{12} &= \frac{9}{12} \\
y &= \frac{3}{4}
\end{aligned}
$$

* Check in the original question

Left-hand side:

$$5(2y-1) = 5 \left( 2 \left (\frac{3}{4} \right ) - 1 \right) =  5 \left( \frac{3}{2} - 1 \right) = \frac{5}{2} $$

Right-hand side:

$$4-2y = 4 - 2 \left ( \frac{3}{4} \right ) = 4 - \frac{3}{2} = \frac{5}{2}$$

</div>

